<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- EZECTOR -->
    <add key="DBConnectionString" value="Data Source=tcp:yalfrekhyc.database.windows.net,1433;Initial Catalog=EZECTOR_LMS;User ID=thinkingcap@yalfrekhyc;Password=t!12Bang;Trusted_Connection=False;Encrypt=True;Max Pool Size=119;Connection Timeout=30"/>
    <add key="ClientKey" value="fb79537f-a2a4-4838-b418-3b4cb7bc27e3"/>
    <add key="FilePath" value="C:\Clients\Ezector\"/>
    <add key="LogFile" value="C:\Log\Ezector\"/>
    <add key="UTCHourAdjust" value="2"/>
    <add key="Hour" value="00"/>
    <add key="Minute" value="30"/>
    <add key="TimerInterval" value="300000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
